{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <h2 class="mt-3">Add product</h2>
                <form class="row g-3" method="post" id="makeForm" action="{{ url_for('make_products') }}" enctype="multipart/form-data">
                    <div class="input-group my-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                        <input class="form-control" list="datalistOptions" type="text" name="product_name" id="exampleDataList" aria-describedby="inputGroup-sizing-default">
                        <datalist id="datalistOptions">
                            {% for row in free_cm_products %}
                            {% set name = row[0] %}
                                <option value="{{ name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Creator</label>
                        <select class="form-select" id="inputGroupSelect01" name="creator">
                        <option selected></option>
                        {% for creator in creators %}
                        {% set creator_id = creator[0] %}
                        {% set creator_name = creator[1] %}
                            <option value="{{ creator_id }}">{{ creator_name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    {% set num_market_col = 2 %}  
                    {% for market_i in range(0, markets|length, num_market_col) %}
                    
                    {% for market in markets[market_i:market_i + num_market_col] %}
                    {% set market_name = market[0] %}
                    {% set username = market[1] %}
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" for="inputGroupSelect01" name="item_id:{{market_name}}-{{username}}" placeholder="{{ market_name }} ({{ username }})">
                            <label class="input-group-text" for="inputGroupSelect01">id</label>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" href="#additional_ids" role="button" aria-expanded="false" aria-controls="additional_ids">
                        Add ids
                    </a>
                    <div class="collapse row mt-3" id="additional_ids">
                        {% for i in range(0, num_additional_ids, 2) %}
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" for="inputGroupSelect01" name="item_id:additional-{{ i }}" placeholder="additional">
                                <label class="input-group-text" for="inputGroupSelect01">id</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" for="inputGroupSelect01" name="item_id:additional-{{ i+1 }}" placeholder="additional">
                                <label class="input-group-text" for="inputGroupSelect01">id</label>
                            </div>
                        </div>
                        {% endfor %}
                      </div>
                    <button type="submit" name="btn" value="submit" class="btn btn-outline-success">Submit</button>
                </form>
            </div>
            <div class="row mt-5">
                <button type="button" class="btn btn-outline-info visually-hidden" id="add_all_btn">Add all</button>
            </div>
            <div class="row" id="search_result">
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2 class="mt-3">Cm items</h2>
                <ul class="list-group list-group-flush my-3">
                    {% for row in free_cm_products %}
                    {% set name = row[0] %}
                    {% set link = row[1] %}
                        <li class="list-group-item"><a href="{{ link }}" target='_blank'>{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#add_all_btn').on('click', function(event){
        event.preventDefault();
        for(found_id of $('th[name="found_id"]')){
            for(id_input of $('input[name^="item_id:"]')) {
                if(id_input.value == ""){
                    id_input.value = found_id.getAttribute('data');
                    break
                }
            }
        }
    });
    
</script>
<script>
    var searchInput = document.getElementById('exampleDataList');
    searchInput.oninput = function(event) {
        $('#add_all_btn').removeClass('visually-hidden')
        var formData = new FormData()
        formData.append('srch_req', searchInput.value)
        $.ajax({
                type: 'POST',
                url: "{{ url_for('search_free_items') }}",
                data: formData,
                dataType: 'html',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(response) {
                    $('#search_result').html(response)
                },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
</script>

{% endblock%}