{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <h2 class="mt-3">Add product</h2>
                <form class="row g-3" method="post" action="{{ url_for('make_products') }}" enctype="multipart/form-data">
                    <div class="input-group my-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                        <input class="form-control" list="datalistOptions" type="text" name="product_name" id="exampleDataList" aria-describedby="inputGroup-sizing-default">
                        <datalist id="datalistOptions">
                            {% for row in free_cm_products %}
                            {% set name = row[0] %}
                                <option value="{{ name }}"></option>
                            {% endfor %}
                        </datalist>
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name="btn" value="find">Find</button>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Creator</label>
                        <select class="form-select" id="inputGroupSelect01" name="creator">
                        <option selected></option>
                        {% for creator in creators %}
                        {% set creator_id = creator[0] %}
                        {% set creator_name = creator[1] %}
                            <option value="{{ creator_id }}">{{ creator_name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    {% set num_market_col = 2 %}  
                    {% for market_i in range(0, markets|length, num_market_col) %}
                    
                    {% for market in markets[market_i:market_i + num_market_col] %}
                    {% set market_name = market[0] %}
                    {% set username = market[1] %}
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" for="inputGroupSelect01" name="item_id:{{market_name}}-{{username}}" placeholder="{{ market_name }} ({{ username }})">
                            <label class="input-group-text" for="inputGroupSelect01">id</label>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    <button type="submit" name="btn" value="submit" class="btn btn-outline-success">Submit</button>
                </form>
            </div>
            <div class="row mt-5">
                {% if found_items %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Item name</th>
                                <th scope="col">Market</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in  found_items %}
                            {% set item_id = row[0] %}
                            {% set item_name = row[1] %}
                            {% set item_link = row[2] %}
                            {% set acc = row[3] %}
                            {% set market = row[4] %}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_name}}</td>
                                    <td>{{market}} ({{acc}})</td>
                                    <td><a href="{{ item_link }}" target='_blank'>Link</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2 class="mt-3">Cm items</h2>
                <ul class="list-group list-group-flush my-3">
                    {% for row in free_cm_products %}
                    {% set name = row[0] %}
                    {% set link = row[1] %}
                        <li class="list-group-item"><a href="{{ link }}" target='_blank'>{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}