{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Items</th>
                        <th scope="col">Control</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in products_info %}
                    {% set id = row[0] %}
                    {% set name = row[1] %}
                    {% set items = row[2] %}
                    {% set is_bundle = row[3] %}
                        <tr id="product_{{ id }}">
                            <th scope="row">{{ id }}</th>
                            <td>{% if is_bundle %}(BUNDLE) {% endif %}{{ name }}</td>
                            <td>
                            {% for item in items %}
                            {% set market = item[0] %}
                            {% set acc = item[1] %}
                            {% set name = item[2] %}
                            {% set url = item[3] %}
                                <p class="my-3">{{ market }} ({{acc}}) <br> <a href="{{ url }}">{{ name }}</a></p>
                            {% endfor %}
                            </td>
                            <td>
                                <form class="row g-3 mx-3" method="post" action="{{ url_for('cur_products') }}" enctype="multipart/form-data">
                                    <button class="btn btn-outline-danger btn-sm" type="submit" name="rm" value="{{id}}">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}